<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
    <div id="box">
        <form action="/create-event" method="post">
            <table>
                <tr>
                    <td colspan="2" align="center"><h1>Create Event</h1></td>
                </tr>
                <tr>
                    <td>Name of the Event:</td>
                    <td><input type="text" name="eventName" placeholder="Event" required></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><textarea  cols="30" rows="5" name="content" placeholder="Write a Description for the event" required></textarea></td>
                </tr>
                <tr>
                    <td>Link to be provided:</td>
                    <td><input type="text" name="eventLink" placeholder="Add the Link"></td>
                </tr>
                <!-- <tr>
                    <td>Image:(optional)</td>
                    <td><input type="file" name="eventImage"></td>
                </tr> -->
                <tr>
                    <td>
                        Branches:
                    </td>
                    <td colspan="2">
                        <label for="branch"><input type="checkbox" name="branch" value="cse">CSE</label>
                        <label for="branch"><input type="checkbox" name="branch" value="cseaiml">CSEAIML</label>
                        <label for="branch"><input type="checkbox" name="branch" value="cseds">CSEDS</label>
                        <label for="branch"><input type="checkbox" name="branch" value="ece">ECE</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>