<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<body>
    <div id="box">
        <a href="/create-event"><button>Create</button></a>
    </div>
    <%- include('footer.ejs') %>
    <script>
        document.title = "ScholarSync"
    </script>
</body>
</html>